.header
{

    padding-top: 200px;
    padding-bottom: 200px;
    
    text-align: center;

    background-image: url("/images/MC Island.png");
    background-size: cover;    
    background-repeat: no-repeat;
    background-position-x: center;    

}

.headerText
{

    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: green;
    text-shadow: 5px 5px black;
}

.navigation
{
    display: flex;
    flex-direction: row;
    
    padding: 0%;
    margin: 0%;
    align-content: center;
    
}

.navBox
{    
    display: flex;
       
    margin-top: 0%;
    margin-right: 0.25%;
    margin-left: 0.25%;
    margin-bottom: 10px;
    width: 100%;

    height: 250px;

    text-decoration: none;  

    background-image: url("/Review-Site/images/StoneBrick.jpg");
    background-size: 100px;
    background-repeat: repeat;
}

.dropDown
{
    display: flex;
    flex-direction: column;
       
    margin-top: 0%;
    margin-right: 0.25%;
    margin-left: 0.25%;
    width: 100%;
    
    height: 250px;

    text-decoration: none;  

    background-image: url("/Review-Site/images/StoneBrick.jpg");
    background-size: 100px;
    background-repeat: repeat;
}

.navText
{
    text-align: center;
    font-size: 50pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;      
    color: green;   
    width: 100%;    

    text-shadow: 3px 3px black; 

}

.dropText
{
    text-align: center;
    font-size: 50pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;      
    color: green;   
    text-shadow: 3px 3px black; 
    text-decoration: none; 

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1px;

    border-style: solid;
    border-color: black;

    background-image: url("/Review-Site/images/Brick.png");
    background-size: 100px;
    background-repeat: repeat; 

    z-index: 100;
    display: none;
}

.dropDown:hover .dropText
{
    display: initial;    
}

.dropDown:hover
{
   opacity: 0.9; 
}

.navBox:hover
{
    opacity: 0.9;
}



divider
{
    display: flex;

    padding: 10px;
    background-color: seagreen;
    margin: 0%;
}

body
{
    margin: 0%;

    background-image: url("/Review-Site/images/Dirt Texture.jpg");
    background-repeat: repeat;
    background-size: 100px;
    background-position-x: center;     
}

.bodyText
{
    display: flex;
    
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
    
    font-size: 40pt;
    text-shadow: 2px 2px black;
    color: rgb(1, 167, 1);

}

.footer
{
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 0%;

    background-image: url("/Review-Site/images/MC Base.png");
    background-size: cover;    
    background-repeat: no-repeat;

}

table
{
    font-size: 30pt;
    text-shadow: 2px 2px black;
    color: rgb(1, 167, 1);  
    border-collapse: collapse; 
    margin-right: 0%;    
}

tr
{
    border-bottom: black;
    border-bottom-style: solid;
    border-width: 10px;
    height: 200px;
    
}

.starBox
{
    display: flex;
    flex-direction: row;
}

items
{
    display: flex;
    flex-direction: row;
}

commentSection
{
    text-shadow: 2px 2px black;
    color: rgb(1, 167, 1);
    font-size: 25pt;
}

form
{
    text-shadow: 2px 2px black;
    color: rgb(1, 167, 1);
    font-size: 25pt; 
}



.starTable
{
    width: 300px;
}

@media screen and (max-width: 1268px)
{
    .navigation
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 1172px)
{
    tr
    {
        height: 242px;
    }
}

@media screen and (max-width: 1124px)
{
    tr
    {
        height: 289px;
    }
}

@media screen and (max-width: 1096px)
{
    tr
    {
        height: 336px;
    }
}


