.header {

    padding-top: 200px;
    padding-bottom: 200px;
    
    text-align: center;

    background-image: url("/images/MC Island.png");
    background-size: cover;    
    background-repeat: no-repeat;
    background-position-x: center;    

}

.headerText {

    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: green;
    text-shadow: 5px 5px black;
}

.navigation
{
    display: flex;
    flex-direction: row;
    
    align-content: center;
    
}

.navBox {
    
    display: inline-block;
    margin: auto;  

    background-image: url("/images/StoneBrick.jpg");
    background-size: cover;
       
    width: 32%;
    height: 250px;

    text-decoration: none;      
}

.navigation :hover {
    width: 33%;
    height: 250px;
}

.navText {

    text-align: center;
    font-size: 50pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;  
    color: green;   
    text-shadow: 3px 3px black; 
}


divider {
    display: flex;

    padding: 10px;
    background-color: seagreen;
    margin: 0%;
    width: 100%;
}

body {
    margin: 0%;
}